:root {
    --color-primary: #072854;
    --color-error: #EF4444FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/* background color*/

.bg-primary {
    background-color: var(--color-primary);
}

/*Text color*/
.text-primary {
    color: var(--color-primary);
}

/* width */

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

/* height */

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

/* Flex */
.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-center {
    align-content: center;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.content-evenly {
    align-content: space-evenly;
}

.items-start{
    align-items: flex-start;
}

.items-end{
    align-items: flex-end;
}

.items-center{
    align-items: center;
}

.items-baseline{
    align-items: baseline;
}

.items-stretch{
    align-items: stretch;
}

.flex-row{
    flex-direction: row;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-col{
    flex-direction: column;
}

.flex-col-reverse{
    flex-direction: column-reverse;
}

.gap-2 {
    gap: 0.125rem
}

.gap-4 {
    gap: 0.25rem
}

.gap-6 {
    gap: 0.375rem
}

.gap-8 {
    gap: 0.5rem
}

.gap-10 {
    gap: 0.625rem
}

.gap-12 {
    gap: 0.75rem
}

.gap-16 {
    gap: 1rem;
}

.gap-32 {
    gap: 2rem;
}

/* Position */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

/* Float */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-bottom{
    float: bottom;
}

.float-top{
    float: top;
}